body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:0;
    overflow: hidden;
    background: black;
}

.play-btn { font-size: 24px; }

canvas { margin:auto; }

#sketch { position: relative; }

button {
    width: 200px;
    height: 50px;
    background: rgb(200,200,200);
    top: 425px;
    position: absolute;
    border: none;
    border-radius: 10px;
    left: 300px;
}

button:hover { background: white }

.reset-btn {
    top: 515px;
    left: 600px;
}

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 24px;
}

p {
    margin: 10px;
    color: white;
}

.thank-you {
    position: absolute;
    top: 50px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(100, 0, 200);
}